#tweet-container {
  border-color: black;
  border-style: solid;
  border-radius: 25px;
  padding:1em;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  }

.feed-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feed-name{
  display: flex;
  flex-direction: row;
  
}
.avatar-name {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  padding-bottom: 1em;
  
}

.user-name {
  color: rgba(67, 82, 118, 0.405);
  padding-top: .5em;
}

.feed-content {
  border-color: black;
  border-bottom: solid;
  padding: 1em;
  padding-left: 0.1em;
  padding-top: 2em;
  width: 100%;
}

.feed-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 1em;
}

#tweet-container:hover {
  box-shadow: 7px 7px 1px 1px grey;
}

#icon-flag:hover {
  visibility: visible;
  color: rgb(0, 21, 255);
}

#icon-retweet:hover {
  visibility: visible;
  color: rgb(55, 255, 0);
}

#icon-heart:hover {
  visibility: visible;
  color: rgb(255, 0, 0);
}
