.avatar-container {
  display: flex;
  background-color: #505c99;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  color: #FFFFFF;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;


}
